{% extends 'all-files/base.html' %}
{% load bootstrap4 %}
{% block content %}
<!DOCTYPE html>
 <html>
 
 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>
<style>
.hr{ 
  display: block;
  margin-left:200px;
  margin-right: 200px;
  border-style: inset;
  border-width: 1px;
} 
footer{
  /* position: fixed; */
  background-color:transparent;
  left: 0;
  bottom: 0;
  width: 100%;
  color:rgb(8, 8, 8);
  text-align: center;
  font-size: 10px;
}
</style>
<body>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h1 style="text-align: center;">Emergency Calls</h1><br>
      {% for call in call %}
      <p style="margin-left:7px; text-align: center;"><strong>{{call.namecall}}</strong>  :  {{call.fone}}</p>
       {% endfor %}
      </div>
      <div class="col-md-4"></div>
      </div>
<br><br>
<div>
    <footer>
        <hr class="hr">
        <p>@2019 by ____ProDevloper.Proudly Created</p>
    </footer>
</div>  
</body>
</html>
{% endblock %}